html,
body{
	margin: 0;
	padding:0;
	background-color: #000000;
	/*font-family: calibri ;*/
	font-family: Calibri, sans-serif;
}


.cont{
	width: 1400px;
	height: auto;
	min-width: 300px;
	margin: 0 auto;
}


.crd{
	margin: 10px 0;
	size: 50px;
	color: #D1D3D4;
}


header{
	width: auto;
	background: #1A2026;
	border: 1px solid #068FFF;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 10px 10px;
}


header .logo{
	margin: auto 90px;
	height: 90px;
}

nav{
	width: auto;
	height: auto;
	display: flex;
}

.menu:hover{
	background: #E5F0FF /*url(menu.svg)  no-repeat 50% 0 */ ;
	transition: 0.3s;
}

.menu {
	margin: 0;
	padding: 45px;
	width: 450px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	background: #fff;
	color: #000;
	transition: 0.1s;
	border-radius: 10px;
}

.list {
	margin: 20px 0 20px 0 ;
	padding: 2vw;
	background: #1A2026;
	height: auto;
	min-height: 100vh;
/*	border: 1px solid #4E4FEB;*/
	border-radius: 10px;
}


h1{
	margin: 0;
	margin-bottom: 15px;
	font-size: 42px;
	color: #fff;
}

h4{
	margin-top: 40px;
	margin-bottom: 0;
	color: #fff;
}

.all{
	font-size: 20px;
}

p, li{
	color: #E6E7E8;
}

.infoot{
	margin: 0;
}

.desc{
	color: gray;
	margin: 5px 0;
}

footer{
	width: auto;
	height: 100px;
	padding: 20px 40px;
	background: #1A2026;
	border: solid #4E4FEB;
	border-width: 1px 1px 0 1px ;
	border-radius: 10px 10px 0 0;
}


@media screen and (max-width: 1400px) {

	.cont{
		width: 100%;
	}

	.menu {
/*	margin: 0;
	padding: 45px;*/
	width: 38vw;
/*	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	background: #fff;
	color: #000;
	transition: 0.1s;
	border-radius: 10px;*/
}

	.list {
		height: auto;
		min-height: 100vh;
	}
}


@media screen and (max-width: 1200px) {

	header .logo{
		margin: auto;
		height: 140px;

	}

	header{
		height: 200px;
	}

	nav{
		widows: 100%;
		height: 100%;
	}

	.menu{
		padding: 78px;
		font-size: 36px;
	}


	h2{
		font-size: 36px;
	}

	.infoot{
		font-size: 25px;
	}
}


@media screen and (max-width: 700px) {
	header .logo{
		margin: auto;
	}

}